<!DOCTYPE html>
<html>
<head>
	<title>Guitar Grid</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <style type="text/css">
        .navbar {
            margin-bottom: 0px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Guitar Wishlist</a>
    </div>
    <ul class="nav navbar-nav text-center">
      <li><a href="#">Home</a></li>
      <li><a href="#">Add A Guitar</a></li>
      <li><a href="#">Edit Your Collection</a></li>
      <li><a href="#">View All Guitars</a></li>
    </ul>
  </div>
</nav>
    
    
    
     <div class="jumbotron text-center">
         <h1>Guitar Wishlist</h1>
         <p>Your Fantasy Guitar Collection</p>
    
    </div>
    <div class="container">
       
        <div class="row">
            <div class="col-md-4">
                <h2>Lorem ipsum dolor</h2>
                    <p>
                    Lorem ipsum dolor sit amet, ultricies ligula nulla libero pede et gravida. Ipsum rutrum libero, nunc est ad, primis accumsan diam habitant varius, inventore fusce molestie. In ornare id, quis rutrum a. Tellus nunc felis mus vestibulum bibendum. Cras ut interdum eleifend nec, facilisis eu, vivamus nibh ante justo sociis, ultricies sed sed sociosqu porro nullam at.
                    </p>
                
               
             </div>
            <div class="col-md-4">   
               <!-- <div class="well"> -->
                <h2>Lorem ipsum dolor</h2>
                    <p>
                    Lorem ipsum dolor sit amet, ultricies ligula nulla libero pede et gravida. Ipsum rutrum libero, nunc est ad, primis accumsan diam habitant varius, inventore fusce molestie. In ornare id, quis rutrum a. Tellus nunc felis mus vestibulum bibendum. Cras ut interdum eleifend nec, facilisis eu, vivamus nibh ante justo sociis, ultricies sed sed sociosqu porro nullam at.
                    </p>                
                <!--</div> --> 
            </div>
            <div class="col-md-4">   
                    <h2>Lorem ipsum dolor</h2>
                    <p>
                    Lorem ipsum dolor sit amet, ultricies ligula nulla libero pede et gravida. Ipsum rutrum libero, nunc est ad, primis accumsan diam habitant varius, inventore fusce molestie. In ornare id, quis rutrum a. Tellus nunc felis mus vestibulum bibendum. Cras ut interdum eleifend nec, facilisis eu, vivamus nibh ante justo sociis, ultricies sed sed sociosqu porro nullam at.
                    </p>               
                   
            </div>
        </div>
        
        
    </div>
</body>

</html>